{% extends 'base.html' %}

{% block head %}
<!-- This heading is from reset_password.html  -->
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Reset password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">login</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'accounts:forgot_password' %}">forget password</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class="pwd-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <h2>Reset Your Password</h2>
                <form class="theme-form" method="post">
                    {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-md-12">
                            <span class="text-danger">{{form.new_password.errors.0}}</span>
                            {{ form.new_password }}
                        </div>
                        <div class="col-md-12">
                            <span class="text-danger">{{form.confirm_new_password.errors.0}}</span>
                            {{ form.confirm_new_password }}
                        </div>
                        <button type="submit" class="btn btn-solid w-auto">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<!-- This Script is from reset_password.html  -->
{% endblock %}