<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThemeMart | Reset Password Link</title>
</head>
<body>
    <p>Someone requested for forgot password for this email</p>
    <p>if you requested for this <a target="_blank" href="http://{{site_domain}}/accounts/reset-password?token={{uuid}}">Click here</a> to reset the password</p>
    <p>if you don't then just ignore this email</p>
    <p>This website is under testing mode, if you recieve this email by mistake then ignore this email</p>
</body>
</html>