{% extends 'base.html' %}
{% load static %}
{% load seller %}

{% block head %}
<!-- This heading is from dashboard.html  -->
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>dashboard</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!--  dashboard section start -->
<section class="dashboard-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="dashboard-sidebar">
                    <div class="profile-top">
                        <div class="profile-image">
                            {% if user.profile_image %}
                            <img src="{{MEDIA_URL}}{{user.profile_image}}" alt="" class="img-fluid">
                            {% else %}
                            <img src="{% static 'images/profile.png' %}" alt="" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="profile-detail">
                            <h5>{{user.full_name}}</h5>
                            <!-- <h6>750 followers | 10 review</h6> -->
                            <h6>{{user.email}}</h6>
                        </div>
                    </div>
                    <div class="faq-tab">
                        <ul class="nav nav-tabs" id="top-tab" role="tablist">
                            <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active"
                                    href="#dashboard">dashboard</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" class="nav-link"
                                    href="#products">products</a>
                            </li>
                            <li class="nav-item"><a data-bs-toggle="tab" class="nav-link"
                                    href="#settings">settings</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="modal" data-bs-target="#logout"
                                    href="{% url 'accounts:logout' %}">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="faq-content tab-content" id="top-tabContent">
                    <div class="tab-pane fade show active" id="dashboard">
                        <div class="counter-section">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/order.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{last_24_hours_earning}}</h3>
                                            <h5>Last 24 Hours Earning</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/sale.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{last_7_days_earning}}</h3>
                                            <h5>Last 7 Days Earning</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/sale.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{last_30_days_earning}}</h3>
                                            <h5>Last 30 Days Earning</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/order.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{to_be_paid}}</h3>
                                            <h5>To be Paid</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/sale.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{last_7_paid}}</h3>
                                            <h5>Last 7 Days Paid</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img src="{% static 'images/sale.png' %}" class="img-fluid">
                                        <div>
                                            <h3>₹ {{last_30_paid}}</h3>
                                            <h5>Last 30 Days Paid</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="chart-order"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="products">
                        <div class="row">
                            <div class="col-12">
                                <div class="card dashboard-table mt-0">
                                    <div class="card-body">
                                        <div class="top-sec">
                                            <h3>all products</h3>
                                            <a href="{% url 'assets:create_asset' %}" class="btn btn-sm btn-solid">+ add new</a>
                                        </div>
                                        <div class="table-responsive-md">
                                            <table class="table mb-0 product-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Preview Image</th>
                                                        <th scope="col">Asset Title</th>
                                                        <th scope="col">sells</th>
                                                        <th scope="col">You Earned</th>
                                                        <th scope="col">Paid</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for asset_obj in asset_objs %}
                                                    <tr>
                                                        <th scope="row"><img
                                                                src="{{MEDIA_URL}}{{asset_obj.asset_preview_images.all.0.image}}"
                                                                class="blur-up lazyloaded"></th>
                                                        <td>
                                                            <a href="{% url 'assets:asset_detail' asset_obj.uuid %}">{{asset_obj.title}}</a></td>
                                                        <td>{{asset_obj.sells.all|length}}</td>
                                                        <td class="fw-bold text-theme">₹ {{asset_obj.sells.all|you_earned}}</td>
                                                        <td class="fw-bold text-theme">₹ {{asset_obj.sells.all|paid}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="dashboard-box">
                                            <div class="dashboard-title">
                                                <h4>settings</h4>
                                            </div>
                                            <div class="dashboard-detail">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <div class="account-setting">
                                                        <h5>Bank Details</h5>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3 col-5">
                                                                    <label for="{{form.bank_account_number.id_for_label}}" class="form-label">Bank Account Number</label>
                                                                    <span style="color: red;display: block;">{{form.bank_account_number.errors.0}}</span>
                                                                    {{form.bank_account_number}}
                                                                </div>
                                                                <div class="mb-3 col-5">
                                                                    <label for="{{form.bank_account_ifsc_code.id_for_label}}" class="form-label">Bank Account IFSC Code</label>
                                                                    <span style="color: red;display: block;">{{form.bank_account_ifsc_code.errors.0}}</span>
                                                                    {{form.bank_account_ifsc_code}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account-setting">
                                                        <h5>Account Details</h5>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="mb-3 col-5">
                                                                    <label for="{{form.phone_number.id_for_label}}" class="form-label">Phone Number</label>
                                                                    <span style="color: red;display: block;">{{form.phone_number.errors.0}}</span>
                                                                    {{form.phone_number}}
                                                                </div>
                                                                <div class="mb-3 col-5">
                                                                    <label for="{{form.aadhar_card_number.id_for_label}}" class="form-label">Aadhar Card Number</label>
                                                                    <span style="color: red;display: block;">{{form.aadhar_card_number.errors.0}}</span>
                                                                    {{form.aadhar_card_number}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn-solid btn">Save Details</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  dashboard section end -->

{% endblock %}

{% block script %}
<!-- This Script is from dashboard.html  -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}