{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- This heading is from my_orders.html  -->
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>My Orders</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active">My Orders</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class="p-1 m-5">
  <div class="container">
    <div class="row">
      <div class="table-responsive-md">
        <table class="table mb-0 product-table">
          <thead>
            <tr>
              <th scope="col" class="text-center">Order ID</th>
              <th scope="col" class="text-center">Total Items</th>
              <th scope="col" class="text-center">Total Price</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Payment On</th>
            </tr>
          </thead>
          <tbody>
              {% if order_objs %}
              {% for order_obj in order_objs %}
            <tr>
              <th class="text-center" scope="row"><a href="{% url 'orders:order_details' order_obj.uuid %}"
                  style="color: blue;">{{order_obj.uuid}}</a></th>
                  <td class="text-center">{{order_obj.order_items.all|length}}</td>
                  <td class="fw-bold text-theme text-center">{{order_obj.total_price}}</td>
                  <td class="text-center">{{order_obj.get_order_status_display}}</td>
                  <td class="text-center">{{order_obj.payment_on|date:'d M, Y'}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="6" class="text-center fs-3">------ No Orders ------</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="product-pagination">
        <div class="theme-paggination-block">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">

                                {% if order_objs.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{order_objs.previous_page_number}}" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-left" aria-hidden="true">
                                            </i>
                                        </span> 
                                        <span class="sr-only">
                                            Previous
                                        </span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for page_number in order_objs.paginator.get_elided_page_range %}
                                {% if page_number == order_objs.paginator.ELLIPSIS %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                {{page_number}}
                                            </a>
                                        </li>
                                        {{page_number}}
                                    {% else %}
                                    <li class="page-item {% if page_number == order_objs.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{page_number}}">
                                            {{page_number}}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                                {% if order_objs.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{order_objs.next_page_number}}" aria-label="Next">
                                        <span aria-hidden="true">
                                            <i class="fa fa-chevron-right" aria-hidden="true">
                                            </i>
                                        </span> 
                                        <span class="sr-only">
                                                Next
                                        </span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="product-search-count-bottom">
                            <h5>Showing Products 1-24 of 10 Result</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!--section end-->
{% endblock %}

{% block script %}
<!-- This Script is from my_orders.html  -->
{% endblock %}